#page-login {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: stretch;
}


#page-login-leftside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/images/success-background.svg");
    background-size: contain;
    background-position: center;
    background-color: var(--color-primary);
    position: absolute;
    width: 100%;
    height: 40%;
}


.logo-container img {
    height: 7rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    color: var(--color-text-in-primary);
    text-align: initial;
    line-height: 1.3;
}

#page-login-rightside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60%;
    position: absolute;
    background-color: var(--color-background);
}

#page-login-rightside fieldset input:last-child {
    margin-top: 0;
}

#page-login-rightside form {
    margin-top: 10rem;
    width: 40rem;
    display: flex;
    justify-content: center;
}

#page-login-rightside fieldset{
    border: 0;
    margin-left: 2rem;
    justify-content: center;
}

#page-login-rightside fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-login-rightside fieldset input[type=text] {
    width: 30rem;
    height: 5rem;
}

#page-login-rightside fieldset input[type=checkbox] {
    margin-top: 3rem;
}

#page-login-rightside fieldset a {
    font: 400 1.6rem Archivo;
    color: var(--color-text-complement);
    float: right;
    margin-top: 3rem;
}

#page-login-rightside fieldset button {
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    border: 0;
    border-radius: 0.6rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#page-login-rightside fieldset button:hover {
    background: var(--color-secondary);
    color: var(--color-line-in-white);
}

#page-login-rightside footer {
    width: 60%;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 8rem;
}

#page-login-rightside footer #footer-first-line a {
    font: 400 1.7rem Archivo;
    color: var(--color-text-complement);
}

#page-login-rightside footer span {
    margin-left: 5rem;
    font: 400 1.7rem Archivo;
    color: var(--color-text-complement);
}

#page-login-rightside footer #footer-second-line a {
    font: 700 1.7rem Archivo;
    color: var(--color-primary-darker);
    text-decoration: underline;
}

@media (min-width: 1100px) {
    #page-login {
        width: 100vw;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #page-login-leftside {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../assets/images/success-background.svg");
        background-size: contain;
        background-position: center;
        background-color: var(--color-primary);
        width: 55%;
        height: 100%;
        left: 0;
    }

    .logo-container img {
        height: 10rem;
    }

    #page-login-rightside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 100%;
        right: 0;
        bottom: 0;
        background-color: var(--color-background);
    }

    #page-login-rightside form {
        margin-top: 17rem;
    }

    #page-login-rightside fieldset legend {
        font: 700 3rem Archivo;
        color: var(--color-text-title);
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid var(--color-line-in-white);
    }

    #page-login-rightside fieldset input[type=text] {
        width: 35rem;
        height: 7rem;
    }

    #page-login-rightside fieldset input[type=checkbox] {
        margin-top: 5rem;
    }
    
    #page-login-rightside fieldset a {
        font: 400 1.6rem Archivo;
        color: var(--color-text-complement);
        float: right;
        margin-top: 5rem;
    }
    
    #page-login-rightside fieldset button {
        width: 100%;
        height: 5.6rem;
        margin-top: 4rem;
        background: var(--color-line-in-white);
        color: var(--color-text-complement);
        border: 0;
        border-radius: 0.6rem;
        cursor: pointer;
        font: 700 1.6rem Archivo;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    #page-login-rightside footer {
        width: 50%;
        justify-content: center;
        margin-left: 5rem;
        margin-top: 20rem;
    }

    #page-login-rightside footer #footer-first-line a {
        font: 400 1.7rem Archivo;
        color: var(--color-text-complement);
    }
    
    #page-login-rightside footer #footer-first-line span {
        font: 400 1.7rem Archivo;
        color: var(--color-text-complement);
        margin-left: 13rem;
    }

    #page-login-rightside footer #footer-second-line a {
        margin-top: 4rem;
        font: 700 1.8rem Archivo;
        color: var(--color-primary-darker);
        text-decoration: underline;
    }
}