#page-signup {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

#page-signup-rightside {
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/images/success-background.svg");
    background-size: contain;
    background-position: center;
    background-color: var(--color-primary);
    position: absolute;
    width: 100vw;
    height: 35vh;
}

.logo-container img {
    margin-top: 4rem;
    height: 7rem;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
    color: var(--color-text-in-primary);
    text-align: initial;
    line-height: 1.3;
}

#page-signup-leftside {
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30rem;
    position: absolute;
    background-color: var(--color-background);
}

#page-signup-leftside #back-icon a {
    display: flex;
    position: absolute;
    top: 1.6rem;
    left: 6.3rem;
}

#page-signup-leftside #back-icon a:hover {
    opacity: 0.6;  
}

#page-signup-leftside fieldset input:last-child {
    margin-top: 0;
}

#page-signup-leftside form {
    margin-top: 8rem;
    width: 40rem;
    display: flex;
    justify-content: center;
}

#page-signup-leftside fieldset{
    border: 0;
    margin-left: 2rem;
    justify-content: center;
}

#page-signup-leftside fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-signup-leftside fieldset #signup-text {
    font: 400 1.8rem Archivo;
    color: var(--color-text-complement);
}

#page-signup-leftside .signup-titles{
    margin-bottom: 3rem;
}

#page-signup-leftside fieldset input[type=text] {
    width: 30rem;
    height: 5rem;
}

#page-signup-leftside fieldset input[type=checkbox] {
    margin-top: 3rem;
}

#page-signup-leftside fieldset .forgot-pass {
    font: 400 1.6rem Archivo;
    color: var(--color-text-complement);
    float: right;
    margin-top: 3rem;
    text-decoration: none;
}

#page-signup-leftside fieldset button {
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    background: var(--color-line-in-white);
    color: var(--color-text-complement);
    border: 0;
    border-radius: 0.6rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#page-signup-leftside fieldset button:hover {
    background: var(--color-secondary);
    color: var(--color-line-in-white);
}

#page-signup-leftside footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 8rem;
}

#page-signup-leftside footer #footer-first-line a {
    font: 400 1.7rem Archivo;
    color: var(--color-text-complement);
}

#page-signup-leftside footer span {
    margin-left: 6rem;
    font: 400 1.7rem Archivo;
    color: var(--color-text-complement);
}

#page-signup-leftside footer #footer-second-line .signup-page {
    font: 700 1.7rem Archivo;
    color: var(--color-primary-darker);
    text-decoration: underline;
}

@media (min-width: 1100px) {

    #page-signup {
        width: 100vw;
        height: 100vh;
    
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #page-signup-rightside {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../../assets/images/success-background.svg");
        background-size: contain;
        background-position: center;
        background-color: var(--color-primary);
        width: 45%;
        height: 100%;
        right: 0;
    }

    .logo-container {
        margin-bottom: 5rem;
    }

    .logo-container img {
        height: 10rem;
    }

    #page-signup-leftside {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55%;
        height: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--color-background);
    }

    #page-signup-leftside #back-icon a {
        display: grid;
        top: 3.2rem;
        left: 30.5rem;
    }

    #page-signup-leftside #back-icon a:hover {
        opacity: 0.6;  
    }

    #page-signup-leftside form {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 5rem;
    }

    #page-signup-leftside fieldset legend {
        font: 700 5rem Archivo;
        color: var(--color-text-title);
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border-bottom: 1px solid var(--color-line-in-white);
    }

    #page-signup-leftside fieldset #signup-text {
        font: 400 1.9rem Archivo;
        color: var(--color-text-complement);
    }

    #page-signup-leftside .signup-titles{
        margin-bottom: 3rem;
    }

    #page-signup-leftside fieldset input[type=text] {
        width: 35rem;
        height: 6rem;
    }

    #page-signup-leftside fieldset input[type=checkbox] {
        margin-top: 5rem;
    }
    
    #page-signup-leftside fieldset .forgot-pass {
        font: 400 1.6rem Archivo;
        color: var(--color-text-complement);
        float: right;
        margin-top: 5rem;
        text-decoration: none;
    }
    
    #page-signup-leftside fieldset button {
        width: 100%;
        height: 5.6rem;
        margin-top: 4rem;
        background: var(--color-line-in-white);
        color: var(--color-text-complement);
        border: 0;
        border-radius: 0.6rem;
        cursor: pointer;
        font: 700 1.6rem Archivo;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    #page-signup-leftside footer {
        width: 50%;
        justify-content: center;
        margin-left: 2rem;
        margin-top: 20rem;
    }

    #page-signup-leftside footer #footer-first-line a {
        font: 400 1.7rem Archivo;
        color: var(--color-text-complement);
    }
    
    #page-signup-leftside footer #footer-first-line span {
        font: 400 1.7rem Archivo;
        color: var(--color-text-complement);
        margin-left: 9rem;
    }

    #page-signup-leftside footer #footer-second-line .signup-page {
        margin-top: 4rem;
        font: 700 1.8rem Archivo;
        color: var(--color-primary-darker);
        text-decoration: underline;
    }
}